
.ipynb_checkpoints/main_wgan-checkpoint.ipynb
.ipynb_checkpoints/main_cgan-Copy1-checkpoint.ipynb
.ipynb_checkpoints/main_cgan-checkpoint.ipynb
.ipynb_checkpoints/hma-checkpoint.ipynb
.ipynb_checkpoints/hma(reference)-checkpoint.ipynb
.ipynb_checkpoints/backup_wgan-checkpoint.ipynb
.ipynb_checkpoints/backup_cgan-checkpoint.ipynb
.ipynb_checkpoints/main_wgan-checkpoint.ipynb
.ipynb_checkpoints/main_cgan-checkpoint.ipynb
.ipynb_checkpoints/hma-checkpoint.ipynb
gtfs/.ipynb_checkpoints/agency-checkpoint.csv
gtfs/.ipynb_checkpoints/calendar-checkpoint.csv
gtfs/.ipynb_checkpoints/calendar_dates-checkpoint.csv
gtfs/.ipynb_checkpoints/fare_attributes-checkpoint.csv
gtfs/.ipynb_checkpoints/fare_rules-checkpoint.csv
gtfs/.ipynb_checkpoints/feed_info-checkpoint.csv
gtfs/.ipynb_checkpoints/frequencies-checkpoint.csv
gtfs/.ipynb_checkpoints/routes-checkpoint.csv
gtfs/.ipynb_checkpoints/transfers-checkpoint.csv
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/main_single_table-checkpoint.ipynb
.ipynb_checkpoints/main_multi_table-Copy1-checkpoint.ipynb
.ipynb_checkpoints/main_multi_table-checkpoint.ipynb
.ipynb_checkpoints/hma(benchmark ref)-checkpoint.ipynb
.ipynb_checkpoints/ctgan(benchmark ref)-checkpoint.ipynb
.ipynb_checkpoints/main_benchmark-checkpoint.ipynb
.ipynb_checkpoints/main_metrics-checkpoint.ipynb
.ipynb_checkpoints/mtgan_(incomplete)-checkpoint.py
.ipynb_checkpoints/probabilistic_resampling-checkpoint.txt
.ipynb_checkpoints/test-checkpoint.ipynb
.ipynb_checkpoints/mtgan_(incomplete)-checkpoint.py
.ipynb_checkpoints/mtgan_(incomplete)-checkpoint.py
.ipynb_checkpoints/(scrapped)main_trend_threshold_ver-checkpoint.ipynb
.ipynb_checkpoints/(scrapped)main_weight_clipping_ver-checkpoint.ipynb
.ipynb_checkpoints/bm_biodegrade-checkpoint.ipynb
.ipynb_checkpoints/bm_biodegrade_benchmark-checkpoint.ipynb
.ipynb_checkpoints/bm_imdb-checkpoint.ipynb
.ipynb_checkpoints/bm_imdb_benchmark-checkpoint.ipynb
.ipynb_checkpoints/bm_university-checkpoint.ipynb
.ipynb_checkpoints/bm_university_benchmark-checkpoint.ipynb
.ipynb_checkpoints/main_prototype-checkpoint.ipynb
.ipynb_checkpoints/main_benchmark_200size-checkpoint.ipynb
.ipynb_checkpoints/main_benchmark_200size-checkpoint.ipynb
.ipynb_checkpoints/main_prototype_200size-checkpoint.ipynb
